.DS_Store
.turbo
.env
node_modules
packages/**/*/dist
.yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions*.tgz
*.tgz
.npmignore
.vscode
.yarnrc.yml
.yarnrc.yml
