body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.nft-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.img-container {
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.connected {
  background-color: green;
}
